:root {
    --fonts: "Overpass", "arial", "sans-serif";
    --tibetan-fonts: "Tibetan";
    --tibetan-fonts2: "Tibetan";
    --Macondo: Macondo;
}


@font-face {
    font-family: "Tibetan";
    font-style: normal;
    font-weight: 400;
    src: local("arial");
}

@font-face {
    font-family: "Tibetan";
    font-style: normal;
    font-weight: 400;
    src: url('/font/monlam_bodyig-webfont.woff') format('woff');
    unicode-range: U+0F00-0FFF;
}