.list {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    scroll-behavior: smooth;
    max-width: calc(100%);
    justify-content: center;
}

.list::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
    cursor: pointer;
    height: 5px;
}