.SearchStyle---highlight {
    background-color: yellow;

}

.SearchStyle---searchListItem {
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    padding-top: 5px;
}

.SearchStyle---searchListItem:hover {
    font-weight: 600;
}
