.TextsSearch---textsSearchContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.TextsSearch---textsSearch {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.TextsSearch---textsSearch form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.TextsSearch---textsSearch input :focus {
    outline: none;
    border: 0;
}

.TextsSearch---textsSearch input {
    font-size: 1em;
    margin-right: 10px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-height: 30px;
    padding: 0 5px;
    border: 0;
    border-bottom: 2px solid gray;
    border-radius: 4px;
}

.TextsSearch---textsSearch button {
    /* min-width: var(--searchButtonMinWidth); */
    text-align: center;
    border-radius: 3px;
}

.TextsSearch---textsSearch select {
    font-size: 0.8em;
    height: 30px;
}

.TextsSearch---minify {
    font-family: arial, sans-serif;
    width: 20px;
    background-color: #313131;
    color: white;
    -ms-flex-line-pack: center;
        align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    line-height: 29px;
    cursor: pointer;
}
@font-face {
    font-family: "Tibetan";
    font-style: normal;
    font-weight: 400;
    src: local("arial");
}

@font-face {
    font-family: "Tibetan";
    font-style: normal;
    font-weight: 400;
    src:
        url("/static/fonts/monlam_bodyig-webfont.woff") format("woff"),
        url("/static/fonts/monlam_bodyig-webfont.woff2") format("woff2");
    unicode-range: U+0F00-0FFF;
}

@font-face {
    font-family: "Tsumachu";
    font-style: normal;
    font-weight: 400;
    src: url("/static/fonts/tsumachu.woff2") format("woff2");
    unicode-range: U+0F00-0FFF;
}

.Button---button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 8px 5px 5px;
  border: 0;
  border-radius: 3px;
  font-weight: normal;
  font-size: 12px;
  -webkit-box-shadow: 0px 1px 1px #555;
          box-shadow: 0px 1px 1px #555;
  cursor: pointer;
  color: #fff;
}

.Button---buttonNoBezel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 8px 5px 5px;
  border: 0;
  border-radius: 3px;
  font-weight: normal;
  font-size: 12px;
  -webkit-box-shadow: 0px 1px 1px #555;
          box-shadow: 0px 1px 1px #555;
  cursor: pointer;
  color: #fff;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
}

.Button---button:disabled,
.Button---buttonNoBezel:disabled {
    opacity: 0.2;
}

.Button---active {
    -webkit-box-shadow: none;
            box-shadow: none;
}

.Button---leftAlign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 8px 5px 5px;
  border: 0;
  border-radius: 3px;
  font-weight: normal;
  font-size: 12px;
  -webkit-box-shadow: 0px 1px 1px #555;
          box-shadow: 0px 1px 1px #555;
  cursor: pointer;
  color: #fff;
    text-align: left;
}

.Button---title {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.Button---icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.Accessory---accessory {
    background-color: gray;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    width: 14px;
    height: 14px;
    text-align: center;
    cursor: pointer;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
}
.Accessory---accessory:hover {
    background-color: rgba(0, 0, 0, .2);
}
