.localeOptions {
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.localeOption {
    font-size: 14px;
    padding: 0 20px;
    cursor: pointer;
}

.selected {
    font-weight: bold;
}

.localeOption:not(:nth-child(1)) {
    border-left: 1px solid white;
}