@import 'css/type.css';
@import 'css/colour.css';

:root {
    --inlineWidth: 280px;
    --controlsWidth: 264px;
    --controlsPadding: 0px;
    --controlsMargin: 0px;
    --arrowHeight: 10px;
    --controlsBackground: #eee;
    --arrowColor: var(--controlsBackground);
    --paddingWidth: 5px;
}

:export {
    inlineWidth: var(--inlineWidth);
}

.annotationControls {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: var(--controlsBackground);
     */
    background-color: transparent;
    padding: var(--controlsPadding);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    align-self: flex-start;
    width: var(--controlsWidth);
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    padding-top: 10px;
    border-radius: 10px;
    z-index: 100;
}

.annotationContent {
    padding: 0 var(--paddingWidth) var(--paddingWidth) var(--paddingWidth);

}

.subTitle {
    font-size: 14px;
    font-weight: bold;
}

.title {
    font-size: 12px;
}

.sectionHeading {
    font-weight: normal;
    font-size: 15px;
}

.text {
    font-size: 13px;
}

.padding {
    padding: var(--paddingWidth);
}

.arrowTop {
    position: absolute;
    width: 0;
    height: 0;
    border-right: var(--arrowHeight) solid transparent;
    border-left: var(--arrowHeight) solid transparent;
    border-bottom: var(--arrowHeight) solid var(--arrowColor);
}

.arrowLeft {
    position: absolute;
    width: 0;
    height: 0;
    left: - var(--arrowHeight);
    border-top: var(--arrowHeight) solid transparent;
    border-right: var(--arrowHeight) solid var(--arrowColor);
    border-bottom: var(--arrowHeight) solid transparent;
}

.arrowRight {
    position: absolute;
    width: 0;
    height: 0;
    left: - var(--arrowHeight);
    border-top: var(--arrowHeight) solid transparent;
    border-left: var(--arrowHeight) solid var(--arrowColor);
    border-bottom: var(--arrowHeight) solid transparent;
}

.inline {
    z-index: 1;
}

.inline .arrow {
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    border-top: 20px solid transparent;
    border-right: 20px solid var(--arrowColor);
    border-bottom: 20px solid transparent;
}

.inline .arrowDs {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    left: -20px;
    border-top: 20px solid transparent;
    border-right: 20px solid #bbb;
    border-bottom: 20px solid transparent;
}

.annotationContent>h3 {
    font-family: var(--fonts);
    font-size: 18px;
    width: 100%;
    padding: 0 0 0px 0;
    margin: 5px 0 0px 0;
    font-weight: normal;
    color: #444;
}

.nothingSelected {
    position: relative;
    top: 25%;
    text-align: center;
    width: 100%;
    font-size: 24px;
    color: #888;
}

.anonymousMessage {
    margin-top: -8px;
    font-size: 16px;
    line-height: 1.3;
    color: black;
    letter-spacing: 1px;
    font-weight: bold;
    height: 24px;
    text-align: center;
}

.anonymousMessage a:link,
.anonymousMessage a:visited {
    color: red;
    font-weight: bold;
}


.noNotes {
    color: #aaa;
    font-style: italic;
    font-size: 18px;
}

.breakButtons {
    display: flex;
    /*margin-bottom: 20px;*/
}

.breakButtons>button {
    margin-top: 5px;
    flex-grow: 1;
}

blockquote {
    font-size: 16px;
}