@import 'css/colour.css';

.selectVersion {
    height: 30px;
    overflow: hidden;
    border: none;
    outline: none;
    padding: 0 10px;
    flex: 1
}

.selectEmpty {
    width: 100%;
    border-radius: 10px;
}

.selectOptions {
    text-align: center;
}

.styled-select select {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
}