@import 'AnnotationControls.css';

.splitText2 {
    /* background-color: white; */
    flex-grow: 1;
    min-width: 0;
    width: 100%;
    font-size: 1rem;
    height: 100%;

}

.splitText2 * {
    scroll-behavior: smooth;
    overflow: hidden;
}

.splitText2 *:focus {
    outline: none;
}

.splitTextRowContent {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.splitTextRow {
    display: flex;
    flex-direction: row;
}

.splitTextRow .text {
    max-width: 100%;
}

.pechaImage {
    background-color: #eee;
    height: 260px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
}

.pechaImage img {
    object-fit: cover;
}

.controlsPlaceholder {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: var(--controlsWidth);
    padding: var(--controlsPadding);
    margin-left: var(--controlsMargin);
    margin-right: var(--controlsMargin);
}

.pageNumber {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 42px;
    color: #444;
}

:global(.ReactVirtualized__Grid__innerScrollContainer) {

    margin-bottom: 300px;
}

span {
    position: relative
}