.inputRanges {
    display: flex;
    justify-content: center;
}

.inputRanges>span {
    position: relative;
}

.inputRange {
    background: #eee;
    border: solid 1px #82CFD0;
    border-radius: 8px;
    height: 2px;
    outline: none;
    -webkit-appearance: none;
    transition: 0.4s all ease-out;
}

input[type='range']::-webkit-slider-thumb {
    width: 6px;
    -webkit-appearance: none;
    height: 12px;
    background: black;
    border-radius: 2px;
    transition: 0.4s all ease-out;

}