.question {
    background-color: #ffffff;
    font-size: 1rem;
    height: fit-content;
}

.question blockquote {
    display: none;
}

.question p {
    margin: 0;
    padding: 0;
}

.threadLink {
    float: right;
    color: green;
}