@font-face {
    font-family: "Tibetan";
    font-style: normal;
    font-weight: 400;
    src: local("arial");
}


@font-face {
    font-family: "Tibetan";
    font-style: normal;
    font-weight: 400;
    src: url('/font/monlam_bodyig-webfont.woff') format('woff');
    unicode-range: U+0F00-0FFF;
}


.AnnotationDetail---annotationDetail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 5px 10px 0px 0;
    padding: 0 0 0 0;
    background-color: #ddd;
    position: relative;
    -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, .2);
            box-shadow: 0px 2px 1px rgba(0, 0, 0, .2);

}


.AnnotationDetail---annotationDetail h3 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    font-size: 12px;
    color: #444;
    font-family: "Tibetan";
    font-weight: normal;
    margin: 0 0 10px 0;
    padding: 5px 10px 0px 10px;
}


.AnnotationDetail---annotationDetail p {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-size: 12px;
    color: #000;
    font-family: "Tibetan";
    margin: 0;
    padding: 0px 10px 5px 10px;
    margin-left: 5px;
}


.AnnotationDetail---active {
    background-color: #a6a6a6;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
            box-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
    color: black
}


.AnnotationDetail---annotationHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #aebcc7;
}


.AnnotationDetail---annotationDetail.AnnotationDetail---active h3 {
    color: black;
    padding-left: 5px;
}


.AnnotationDetail---activeIcon {
    padding: 3px 0px 0 5px;
}


.AnnotationDetail---editing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10px 0px 10px;
}


.AnnotationDetail---editing textarea {
    font-size: 12px;
    font-family: "Tibetan";
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
}


.AnnotationDetail---actionButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 14px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;

}


.AnnotationDetail---edit {
  padding: 5px 8px 5px 8px;
  border: 0;
  border-radius: 3px;
  font-weight: normal;
  font-size: 12px;
  -webkit-box-shadow: 0px 1px 1px #555;
          box-shadow: 0px 1px 1px #555;
  cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5px auto;
    color: white;
    background-color: #0088cc;
    padding: 2px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-right: 10px;
    border-radius: 50%;
}


.AnnotationDetail---editImage {
    fill: white;
}


.AnnotationDetail---save {
    color: white;
    background-color: #0088cc;
  padding: 5px 8px 5px 8px;
  border: 0;
  border-radius: 3px;
  font-weight: normal;
  font-size: 12px;
  -webkit-box-shadow: 0px 1px 1px #555;
          box-shadow: 0px 1px 1px #555;
  cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.AnnotationDetail---save:hover {
    background-color: #069;

}


.AnnotationDetail---cancel {
    color: white;
    background-color: #840000;
  padding: 5px 8px 5px 8px;
  border: 0;
  border-radius: 3px;
  font-weight: normal;
  font-size: 12px;
  -webkit-box-shadow: 0px 1px 1px #555;
          box-shadow: 0px 1px 1px #555;
  cursor: pointer;
}
