@font-face {
    font-family: "Tibetan";
    font-style: normal;
    font-weight: 400;
    src: local("arial");
}


@font-face {
    font-family: "Tibetan";
    font-style: normal;
    font-weight: 400;
    src: url('/font/monlam_bodyig-webfont.woff') format('woff');
    unicode-range: U+0F00-0FFF;
}


.QuestionEditor---editorContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1em;
    padding: 10px;
    background-color: #ddd;
}


.QuestionEditor---textEditor {
    height: 5em;
    margin-bottom: 0.7em;
    font-size: 14px;
}
