.TextList---textlist {
    z-index: 1;
    min-width: 240px;
    min-width: 15rem;
    height: 300px;
    cursor: pointer;
    overflow: hidden;
    font-weight: 100;
}

.TextList---textlist.TextList---open {
    width: 500px;
    height: 500px;
}
