.TextDetail---textDetail {
    /* background-color: var(--text-bg); */
    position: relative;
    width: 100%;
    /* color: var(--text-color); */
    -webkit-transition: height 0.4s linear;
    transition: height 0.4s linear;
}
.TextDetail---textDetail ::-moz-selection {
    color: black;
    background-color: #ccc
}
.TextDetail---textDetail ::selection {
    color: black;
    background-color: #ccc
}
.TextDetail---textContainer {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-radius: 10px;
}
.TextDetail---tableContent {
    padding-inline: 20px;
}
.loader {
    position: absolute;
    left: 50%;
    top: 20%;
    padding: 50px;
    border-radius: 5px;
    background-color: transparent;
}
