.AnnotationControlsHeader---header {
    height: 27px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: rgba(175, 175, 175, .9);
    border: 1px solid darkgray;
}
.AnnotationControlsHeader---header>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
}
.AnnotationControlsHeader---Anotation_closeBtn {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: red;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;

}
.AnnotationControlsHeader---edit svg {
    width: 16px;
    width: 1rem;
    height: 16px;
    height: 1rem;
    fill: #fff;
    cursor: pointer;
}
