.Search---searchContainer {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
}

.Search---Search {
    /* overflow: hidden; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    text-align: inherit;
    background: #EDEDEC;
    border-radius: 100px;
    height: 30px;
    max-width: 250px;
    margin: 0 auto;
}

.Search---Search input {
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;

}

.Search---Search:hover {
    width: 350px;
}

.Search---Search input:focus {
    width: 250px;

}

.Search---submit {
    margin-top: 6px;
    padding-left: 10px;
    opacity: 0.4;
    -o-object-fit: contain;
       object-fit: contain;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.Search---resetButton {
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 4px;
    color: red;
    opacity: 0;
    -webkit-transition: 0.3s all linear;
    transition: 0.3s all linear;
}

.Search---active {
    opacity: 1;
}

.Search---ShortcutSearch {
    position: absolute;
    display: none;
    background-color: #EDEDEC;
}

.Search---listDetail {
    border-bottom: 1px solid black;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
}
