.Accessory---accessory {
    background-color: gray;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    width: 14px;
    height: 14px;
    text-align: center;
    cursor: pointer;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
}
.Accessory---accessory:hover {
    background-color: rgba(0, 0, 0, .2);
}
