@font-face {
    font-family: "Tibetan";
    font-style: normal;
    font-weight: 400;
    src: local("arial");
}

@font-face {
    font-family: "Tibetan";
    font-style: normal;
    font-weight: 400;
    src:
        url("/static/fonts/monlam_bodyig-webfont.woff") format("woff"),
        url("/static/fonts/monlam_bodyig-webfont.woff2") format("woff2");
    unicode-range: U+0F00-0FFF;
}

@font-face {
    font-family: "Tsumachu";
    font-style: normal;
    font-weight: 400;
    src: url("/static/fonts/tsumachu.woff2") format("woff2");
    unicode-range: U+0F00-0FFF;
}

.Text2---text {
    font-size: 24px;
    line-height: 1.8;
    padding: 0px 20px;
    letter-spacing: 0.04em;
    /* background-color: var(--text-bg); */
    margin: 0px;
    min-width: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.Text2---textFirstRow {
    margin-top: 0px;
    border-top: 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.Text2---textLine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
    white-space: pre;
}

.Text2---textline>span {
    max-height: 4ch;
}

.Text2---limitWidth.Text2---textFirstRow {
    margin-top: 20px;
}

.Text2---textContainer {
    overflow: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-left: 0;
    min-width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
}

.Text2---limitWidth {
    max-width: 600px;
}

.Text2---limitWidth.Text2---text {
    margin-left: auto;
    margin-right: auto;
}

.Text2---annotation {
    color: #0366bc;
    cursor: pointer;
}

.Text2---removedByAnnotation {
  color: #aaa;
  cursor: pointer;
    -webkit-text-decoration: line-through red;
            text-decoration: line-through red;

}

.Text2---insertion {
  color: #aaa;
  cursor: pointer;
    -webkit-text-decoration: line-through green;
            text-decoration: line-through green;
}

.Text2---highlight {
    background-color: yellow;
}

.Text2---activeHighlight {
    background-color: orange;
}

.Text2---lineBreak {
    color: #aaa;
    cursor: pointer;
    margin-left: 5px;
    font-size: 0.8em;
}

.Text2---pageBreak {
    color: #aaa;
    cursor: pointer;
    margin-left: 5px;
    font-size: 0.8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.Text2---pageBreak>svg {
    width: 0.8em;
    pointer-events: none;
    max-height: 4ch;
}

.Text2---syncIdClass {
    font-weight: 900;
    font-size: 10px;
    cursor: pointer;
}

.Text2---selectedRangelight {
    background-color: #eee;
}

.Text2---selectedRangeDark {
    background-color: black;
}
