.TextsSearch---textsSearchContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.TextsSearch---textsSearch {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.TextsSearch---textsSearch form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.TextsSearch---textsSearch input :focus {
    outline: none;
    border: 0;
}

.TextsSearch---textsSearch input {
    font-size: 1em;
    margin-right: 10px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-height: 30px;
    padding: 0 5px;
    border: 0;
    border-bottom: 2px solid gray;
    border-radius: 4px;
}

.TextsSearch---textsSearch button {
    /* min-width: var(--searchButtonMinWidth); */
    text-align: center;
    border-radius: 3px;
}

.TextsSearch---textsSearch select {
    font-size: 0.8em;
    height: 30px;
}

.TextsSearch---minify {
    font-family: arial, sans-serif;
    width: 20px;
    background-color: #313131;
    color: white;
    -ms-flex-line-pack: center;
        align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    line-height: 29px;
    cursor: pointer;
}
@font-face {
    font-family: "Tibetan";
    font-style: normal;
    font-weight: 400;
    src: local("arial");
}

@font-face {
    font-family: "Tibetan";
    font-style: normal;
    font-weight: 400;
    src:
        url("/static/fonts/monlam_bodyig-webfont.woff") format("woff"),
        url("/static/fonts/monlam_bodyig-webfont.woff2") format("woff2");
    unicode-range: U+0F00-0FFF;
}

@font-face {
    font-family: "Tsumachu";
    font-style: normal;
    font-weight: 400;
    src: url("/static/fonts/tsumachu.woff2") format("woff2");
    unicode-range: U+0F00-0FFF;
}

.TextList---textList {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: hsla(0, 8%, 88%, .109);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.TextList---textList *:focus {
    outline: none;
}

.TextList---textListRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: hsla(0, 8%, 88%, .109);
    color: black;
    padding: 0;
    cursor: pointer;
    white-space: nowrap;
    font-family: "Tibetan",
        "Tsumachu",
        "Dutsa";
    font-size: 12px;
}

.TextList---textListRow:hover {
    color: black;
}

.TextList---selectedRow {
    color: hsl(240, 51%, 51%);
}

.TextList---selectedRow>.TextList---textNameRow>span::before {
    content: '- ';
}

.TextList---textNameRow {
    text-overflow: ellipsis;
    overflow-x: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 0 10px;
    font-size: 16px;
    background-color: rgba(80, 73, 73, 1);
    color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}

.TextList---textName {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.TextList---highlight {
    font-weight: bold;
}

.TextList---selectedRow .TextList---highlight {
    background-color: #d48100;
}

.TextList---searchResults {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-size: 12px;
}

.TextList---searchResult {
    padding-left: 10px;
}

.TextList---selectedSearchResult {
    background-color: #aaa;
    padding-left: 10px;
}

.TextList---searchTotal {
    background-color: white;
    color: #222;
    border-radius: 9px;
    padding: 0 4px;
    font-size: 11px;
    min-width: 18px;
    height: 18px;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-family: "Overpass", "arial", "sans-serif";
}

.TextList---textListLoader {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.TextList---textListLoader .loader {
    position: relative;
    left: 0;
    top: 0;
    background: 0;
    padding: 0;
    margin: 50px 0 20px 0;
}

.TextList---searching {
    text-align: center;
}

.TextList---loadMore {
    padding-left: 10px;
    margin: 5px 0;
}
@font-face {
    font-family: "Tibetan";
    font-style: normal;
    font-weight: 400;
    src: local("arial");
}

@font-face {
    font-family: "Tibetan";
    font-style: normal;
    font-weight: 400;
    src:
        url("/static/fonts/monlam_bodyig-webfont.woff") format("woff"),
        url("/static/fonts/monlam_bodyig-webfont.woff2") format("woff2");
    unicode-range: U+0F00-0FFF;
}

@font-face {
    font-family: "Tsumachu";
    font-style: normal;
    font-weight: 400;
    src: url("/static/fonts/tsumachu.woff2") format("woff2");
    unicode-range: U+0F00-0FFF;
}

.LoadMore---container {
    font-family: "Overpass", "arial", "sans-serif";
    font-size: 12px;
    font-weight: bold;
}

.TextListTab---tab {
    background-color: #666;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: absolute;
    top: 80px;
    left: 0px;
    padding: 5px 40px;
    white-space:nowrap;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    z-index: 2;
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transition: left 0.25s ease-in-out;
    transition: left 0.25s ease-in-out;
    cursor: pointer;
}

.TextListTab---showTab {
    left: 0px;
}

.TextListTab---hideTab {
    left: -40px;
}
.EditorContainer---container {
    padding: 0;
    width: 100%;
    height: 100%;

}

.EditorContainer---interface {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.EditorContainer---listContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -webkit-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;
    position: relative;
}

.EditorContainer---showListContainer {
    width: 100%;
}

.EditorContainer---hideListContainer {
    width: 0%;
}

.Resizer.vertical {
    width: 10px;
    cursor: col-resize;
    z-index: 1;
    background-color: #ffffff;
}
.MediaOptions---MediaOption {
    resize: both;
    overflow: auto;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    right: 0;
    background-color: white;
}
.MediaOptions---header {
    position: relative;
    top: 0;
    height: 60px;
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-inline: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.MediaOptions---closeBtn {
    position: absolute !important;
    right: 10px;
    top: 10px;
}
.resizerStyle---Resizer {
    background: transparent;
    opacity: 0.2;
    z-index: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: padding-box;

}

.resizerStyle---Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.resizerStyle---Resizer.resizerStyle---horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.resizerStyle---Resizer.resizerStyle---horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, .5);
    border-bottom: 5px solid rgba(0, 0, 0, .5);
}

.resizerStyle---Resizer.resizerStyle---vertical {
    width: 11px;
    margin: 0;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.resizerStyle---Resizer.resizerStyle---vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, .5);
    border-right: 5px solid rgba(0, 0, 0, .5);
}

.resizerStyle---Resizer.resizerStyle---disabled {
    cursor: not-allowed;
}

.resizerStyle---Resizer.resizerStyle---disabled:hover {
    border-color: transparent;
}
.TextDetail---textDetail {
    /* background-color: var(--text-bg); */
    position: relative;
    width: 100%;
    /* color: var(--text-color); */
    -webkit-transition: height 0.4s linear;
    transition: height 0.4s linear;
}
.TextDetail---textDetail ::-moz-selection {
    color: black;
    background-color: #ccc
}
.TextDetail---textDetail ::selection {
    color: black;
    background-color: #ccc
}
.TextDetail---textContainer {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-radius: 10px;
}
.TextDetail---tableContent {
    padding-inline: 20px;
}
.loader {
    position: absolute;
    left: 50%;
    top: 20%;
    padding: 50px;
    border-radius: 5px;
    background-color: transparent;
}
.textDetailHeading---button_group_menu svg {
        margin: 0 !important;
    }
.SelectVersion---selectVersion {
    height: 30px;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    font-size: 14px;
    text-align: center;
}
.SelectVersion---selectEmpty {
    width: 100%;
    border-radius: 10px;
}
.SelectVersion---selectOptions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.SelectVersion---styled-select select {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
}
.TextList---textlist {
    z-index: 1;
    min-width: 240px;
    min-width: 15rem;
    height: 300px;
    cursor: pointer;
    overflow: hidden;
    font-weight: 100;
}

.TextList---textlist.TextList---open {
    width: 500px;
    height: 500px;
}
.SearchStyle---highlight {
    background-color: yellow;

}

.SearchStyle---searchListItem {
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    padding-top: 5px;
}

.SearchStyle---searchListItem:hover {
    font-weight: 600;
}
.TableOfContent---TableContent .loader {
    left: 0;
    right: 0;

}
