.TextsSearch---textsSearchContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.TextsSearch---textsSearch {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.TextsSearch---textsSearch form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.TextsSearch---textsSearch input :focus {
    outline: none;
    border: 0;
}

.TextsSearch---textsSearch input {
    font-size: 1em;
    margin-right: 10px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-height: 30px;
    padding: 0 5px;
    border: 0;
    border-bottom: 2px solid gray;
    border-radius: 4px;
}

.TextsSearch---textsSearch button {
    /* min-width: var(--searchButtonMinWidth); */
    text-align: center;
    border-radius: 3px;
}

.TextsSearch---textsSearch select {
    font-size: 0.8em;
    height: 30px;
}

.TextsSearch---minify {
    font-family: arial, sans-serif;
    width: 20px;
    background-color: #313131;
    color: white;
    -ms-flex-line-pack: center;
        align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    line-height: 29px;
    cursor: pointer;
}
@font-face {
    font-family: "Tibetan";
    font-style: normal;
    font-weight: 400;
    src: local("arial");
}

@font-face {
    font-family: "Tibetan";
    font-style: normal;
    font-weight: 400;
    src:
        url("/static/fonts/monlam_bodyig-webfont.woff") format("woff"),
        url("/static/fonts/monlam_bodyig-webfont.woff2") format("woff2");
    unicode-range: U+0F00-0FFF;
}

@font-face {
    font-family: "Tsumachu";
    font-style: normal;
    font-weight: 400;
    src: url("/static/fonts/tsumachu.woff2") format("woff2");
    unicode-range: U+0F00-0FFF;
}

.TextList---textList {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: hsla(0, 8%, 88%, .109);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.TextList---textList *:focus {
    outline: none;
}

.TextList---textListRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: hsla(0, 8%, 88%, .109);
    color: black;
    padding: 0;
    cursor: pointer;
    white-space: nowrap;
    font-family: "Tibetan",
        "Tsumachu",
        "Dutsa";
    font-size: 12px;
}

.TextList---textListRow:hover {
    color: black;
}

.TextList---selectedRow {
    color: hsl(240, 51%, 51%);
}

.TextList---selectedRow>.TextList---textNameRow>span::before {
    content: '- ';
}

.TextList---textNameRow {
    text-overflow: ellipsis;
    overflow-x: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 0 10px;
    font-size: 16px;
    background-color: rgba(80, 73, 73, 1);
    color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}

.TextList---textName {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}

.TextList---highlight {
    font-weight: bold;
}

.TextList---selectedRow .TextList---highlight {
    background-color: #d48100;
}

.TextList---searchResults {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-size: 12px;
}

.TextList---searchResult {
    padding-left: 10px;
}

.TextList---selectedSearchResult {
    background-color: #aaa;
    padding-left: 10px;
}

.TextList---searchTotal {
    background-color: white;
    color: #222;
    border-radius: 9px;
    padding: 0 4px;
    font-size: 11px;
    min-width: 18px;
    height: 18px;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    font-family: "Overpass", "arial", "sans-serif";
}

.TextList---textListLoader {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.TextList---textListLoader .loader {
    position: relative;
    left: 0;
    top: 0;
    background: 0;
    padding: 0;
    margin: 50px 0 20px 0;
}

.TextList---searching {
    text-align: center;
}

.TextList---loadMore {
    padding-left: 10px;
    margin: 5px 0;
}
@font-face {
    font-family: "Tibetan";
    font-style: normal;
    font-weight: 400;
    src: local("arial");
}

@font-face {
    font-family: "Tibetan";
    font-style: normal;
    font-weight: 400;
    src:
        url("/static/fonts/monlam_bodyig-webfont.woff") format("woff"),
        url("/static/fonts/monlam_bodyig-webfont.woff2") format("woff2");
    unicode-range: U+0F00-0FFF;
}

@font-face {
    font-family: "Tsumachu";
    font-style: normal;
    font-weight: 400;
    src: url("/static/fonts/tsumachu.woff2") format("woff2");
    unicode-range: U+0F00-0FFF;
}

.LoadMore---container {
    font-family: "Overpass", "arial", "sans-serif";
    font-size: 12px;
    font-weight: bold;
}

.TextListTab---tab {
    background-color: #666;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: absolute;
    top: 80px;
    left: 0px;
    padding: 5px 40px;
    white-space:nowrap;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    z-index: 2;
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
    -webkit-transition: left 0.25s ease-in-out;
    transition: left 0.25s ease-in-out;
    cursor: pointer;
}

.TextListTab---showTab {
    left: 0px;
}

.TextListTab---hideTab {
    left: -40px;
}
.EditorContainer---container {
    padding: 0;
    width: 100%;
    height: 100%;

}

.EditorContainer---interface {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.EditorContainer---listContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    -webkit-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;
    position: relative;
}

.EditorContainer---showListContainer {
    width: 100%;
}

.EditorContainer---hideListContainer {
    width: 0%;
}

.Resizer.vertical {
    width: 10px;
    cursor: col-resize;
    z-index: 1;
    background-color: #ffffff;
}
.MediaOptions---MediaOption {
    resize: both;
    overflow: auto;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    right: 0;
    background-color: white;
}
.MediaOptions---header {
    position: relative;
    top: 0;
    height: 60px;
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-inline: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.MediaOptions---closeBtn {
    position: absolute !important;
    right: 10px;
    top: 10px;
}
.resizerStyle---Resizer {
    background: transparent;
    opacity: 0.2;
    z-index: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-clip: padding-box;

}

.resizerStyle---Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.resizerStyle---Resizer.resizerStyle---horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.resizerStyle---Resizer.resizerStyle---horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, .5);
    border-bottom: 5px solid rgba(0, 0, 0, .5);
}

.resizerStyle---Resizer.resizerStyle---vertical {
    width: 11px;
    margin: 0;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.resizerStyle---Resizer.resizerStyle---vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, .5);
    border-right: 5px solid rgba(0, 0, 0, .5);
}

.resizerStyle---Resizer.resizerStyle---disabled {
    cursor: not-allowed;
}

.resizerStyle---Resizer.resizerStyle---disabled:hover {
    border-color: transparent;
}
.textDetailHeading---button_group_menu svg {
    margin: 0 !important;
}
.SelectVersion---selectVersion {
    height: 30px;
    overflow: hidden;
    border: none;
    outline: none;
    padding: 0 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1
}
.SelectVersion---selectEmpty {
    width: 100%;
    border-radius: 10px;
}
.SelectVersion---selectOptions {
    text-align: center;
}
.SelectVersion---styled-select select {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
}
.TextList---textlist {
    max-width: 240px;
    max-width: 15rem;
    height: 300px;
    cursor: pointer;
    overflow: hidden;

}

.TextList---textlist.TextList---open {
    width: 500px;
    height: 500px;
}
.SearchStyle---highlight {
    background-color: yellow;

}

.SearchStyle---searchListItem {
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    padding-top: 5px;
}

.SearchStyle---searchListItem:hover {
    font-weight: 600;

}
.TextDetail---textDetail2 {
    /* background-color: white; */
    position: relative;
    width: 100%;
    /* color: var(--text-color); */
    -webkit-transition: height 0.3s linear;
    transition: height 0.3s linear;
    overflow: hidden;
}
.TextDetail---textDetail2 ::-moz-selection {
    color: black;
    background-color: #ccc;
}
.TextDetail---textDetail2 ::selection {
    color: black;
    background-color: #ccc;
}
.TextDetail---textContainer2 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-radius: 10px;
}
.loader {
    position: absolute;
    left: 50%;
    top: 20%;
    padding: 50px;
    border-radius: 5px;
    background-color: transparent;
}
@font-face {
    font-family: "Tibetan";
    font-style: normal;
    font-weight: 400;
    src: local("arial");
}

@font-face {
    font-family: "Tibetan";
    font-style: normal;
    font-weight: 400;
    src:
        url("/static/fonts/monlam_bodyig-webfont.woff") format("woff"),
        url("/static/fonts/monlam_bodyig-webfont.woff2") format("woff2");
    unicode-range: U+0F00-0FFF;
}

@font-face {
    font-family: "Tsumachu";
    font-style: normal;
    font-weight: 400;
    src: url("/static/fonts/tsumachu.woff2") format("woff2");
    unicode-range: U+0F00-0FFF;
}

.Text2---text {
    font-size: 24px;
    line-height: 1.8;
    padding: 0px 20px;
    letter-spacing: 0.04em;
    /* background-color: var(--text-bg); */
    margin: 0px;
    min-width: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.Text2---textFirstRow {
    margin-top: 0px;
    border-top: 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.Text2---textLine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
    white-space: pre;
}

.Text2---textline>span {
    max-height: 4ch;
}

.Text2---limitWidth.Text2---textFirstRow {
    margin-top: 20px;
}

.Text2---textContainer {
    overflow: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-left: 0;
    min-width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
}

.Text2---limitWidth {
    max-width: 600px;
}

.Text2---limitWidth.Text2---text {
    margin-left: auto;
    margin-right: auto;
}

.Text2---annotation {
    color: #0366bc;
    cursor: pointer;
}

.Text2---removedByAnnotation {
  color: #aaa;
  cursor: pointer;
    -webkit-text-decoration: line-through red;
            text-decoration: line-through red;

}

.Text2---insertion {
  color: #aaa;
  cursor: pointer;
    -webkit-text-decoration: line-through green;
            text-decoration: line-through green;
}

.Text2---highlight {
    background-color: yellow;
}

.Text2---activeHighlight {
    background-color: orange;
}

.Text2---lineBreak {
    color: #aaa;
    cursor: pointer;
    margin-left: 5px;
    font-size: 0.8em;
}

.Text2---pageBreak {
    color: #aaa;
    cursor: pointer;
    margin-left: 5px;
    font-size: 0.8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.Text2---pageBreak>svg {
    width: 0.8em;
    pointer-events: none;
    max-height: 4ch;
}

.Text2---syncIdClass {
    font-weight: 900;
    font-size: 10px;
    cursor: pointer;
}

.Text2---selectedRangelight {
    background-color: #eee;
}

.Text2---selectedRangeDark {
    background-color: black;
}
@font-face {
    font-family: "Tibetan";
    font-style: normal;
    font-weight: 400;
    src: local("arial");
}

@font-face {
    font-family: "Tibetan";
    font-style: normal;
    font-weight: 400;
    src:
        url("/static/fonts/monlam_bodyig-webfont.woff") format("woff"),
        url("/static/fonts/monlam_bodyig-webfont.woff2") format("woff2");
    unicode-range: U+0F00-0FFF;
}

@font-face {
    font-family: "Tsumachu";
    font-style: normal;
    font-weight: 400;
    src: url("/static/fonts/tsumachu.woff2") format("woff2");
    unicode-range: U+0F00-0FFF;
}

.SplitText---annotationControls {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* background-color: var(--controlsBackground);
     */
    background-color: transparent;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 264px;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    padding-top: 10px;
    border-radius: 10px;
    z-index: 100;
}

.SplitText---annotationContent {
    padding: 0 5px 5px 5px;

}

.SplitText---subTitle {
    font-size: 14px;
    font-weight: bold;
}

.SplitText---title {
    font-size: 12px;
}

.SplitText---sectionHeading {
    font-weight: normal;
    font-size: 15px;
}

.SplitText---text {
    font-size: 13px;
}

.SplitText---padding {
    padding: 5px;
}

.SplitText---arrowTop {
    position: absolute;
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #eee;
}

.SplitText---arrowLeft {
    position: absolute;
    width: 0;
    height: 0;
    left: - 10px;
    border-top: 10px solid transparent;
    border-right: 10px solid #eee;
    border-bottom: 10px solid transparent;
}

.SplitText---arrowRight {
    position: absolute;
    width: 0;
    height: 0;
    left: - 10px;
    border-top: 10px solid transparent;
    border-left: 10px solid #eee;
    border-bottom: 10px solid transparent;
}

.SplitText---inline {
    z-index: 1;
}

.SplitText---inline .SplitText---arrow {
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    border-top: 20px solid transparent;
    border-right: 20px solid #eee;
    border-bottom: 20px solid transparent;
}

.SplitText---inline .SplitText---arrowDs {
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    left: -20px;
    border-top: 20px solid transparent;
    border-right: 20px solid #bbb;
    border-bottom: 20px solid transparent;
}

.SplitText---annotationContent>h3 {
    font-family: "Overpass", "arial", "sans-serif";
    font-size: 18px;
    width: 100%;
    padding: 0 0 0px 0;
    margin: 5px 0 0px 0;
    font-weight: normal;
    color: #444;
}

.SplitText---nothingSelected {
    position: relative;
    top: 25%;
    text-align: center;
    width: 100%;
    font-size: 24px;
    color: #888;
}

.SplitText---anonymousMessage {
    margin-top: -8px;
    font-size: 16px;
    line-height: 1.3;
    color: black;
    letter-spacing: 1px;
    font-weight: bold;
    height: 24px;
    text-align: center;
}

.SplitText---anonymousMessage a:link,
.SplitText---anonymousMessage a:visited {
    color: red;
    font-weight: bold;
}

.SplitText---noNotes {
    color: #aaa;
    font-style: italic;
    font-size: 18px;
}

.SplitText---breakButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*margin-bottom: 20px;*/
}

.SplitText---breakButtons>button {
    margin-top: 5px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

blockquote {
    font-size: 16px;
}

.SplitText---splitText2 {
    /* background-color: white; */
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-width: 0;
    width: 100%;
    font-size: 24px;
    height: 100%;

}

.SplitText---splitText2 * {
    scroll-behavior: smooth;
    overflow: hidden;
}

.SplitText---splitText2 *:focus {
    outline: none;
}

.SplitText---splitTextRowContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.SplitText---splitTextRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

.SplitText---splitTextRow .SplitText---text {
    max-width: 100%;
}

.SplitText---pechaImage {
    background-color: #eee;
    height: 260px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.SplitText---pechaImage img {
    -o-object-fit: contain;
       object-fit: contain;
}

.SplitText---controlsPlaceholder {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 264px;
        flex-basis: 264px;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.SplitText---pageNumber {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 42px;
    color: #444;
}

.ReactVirtualized__Grid__innerScrollContainer {

    margin-bottom: 300px;
}

span {
    position: relative
}
